<mat-toolbar>
  <button mat-button routerLink="/"><h1>My App</h1></button>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    @for (link of getNavigationLinks$() | async; track link.path) {
      <a
        mat-tab-link
        [routerLink]="link.path"
        routerLinkActive
        #rla="routerLinkActive"
        [active]="rla.isActive"
      >
        <div class="tab-header-label">
          <mat-icon>{{ link.data?.['icon'] }}</mat-icon>
          <p>{{ link.title }}</p>
        </div>
      </a>
    }
  </nav>
</mat-toolbar>
<div class="nav-router-outlet">
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</div>
